.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-1);

  .themeChanger {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 30px;
  }
}